
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: #8cc5e5;
}


h6 {
  font-family: 'Catamaran';
  font-weight: 700 !important;
  font-size: 0.7rem;
}

h5 {
  font-family: 'Catamaran', 'Open Sans', "Roboto", "Arial", sans-serif;
font-weight: bold;
}

.navbar {
  background-color: #cb8fa8;
}

header.masthead {
  position: relative;
  overflow: hidden;
  background: url("img/cola.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #cb8fa8;
  min-height: 100vh;
}

.episodes {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.card {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-img-top {
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}


.pp {
  font-size: 1.2rem;
}

.eye {
  width: 100%;
  height: auto;
  margin-right: 0;
  padding-right: 0;
}

.pod {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 4px;
}

.frame1 {
  width: 80%;
  font-size: 17px;
  line-height: 1.7;
}

.title11 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #000000;
  padding-top: 10px;
}

.up {
  font-size: 1.1rem;
}

ul li{
   margin-bottom: 10px;
}

@media only screen and (max-width: 835px) {

 header.masthead {
 min-height: 50vh;
 }

 .frame1 {
   width: 100%;
 }
}
