html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 50px;
  font-size: 16px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

h2 {
  color: #fff;
  letter-spacing: 0.7;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 4vw;
  font-family: 'Poppins' !important;
  text-shadow: .1em .1em rgba(0, 0, 0, 0.1);
}

h3 {
  color: #fff;
  letter-spacing: 0.7;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Poppins';
  text-shadow: .1em .1em rgba(0, 0, 0, 0.1);
}

p {
  padding-top: 20px;
  font-family: 'Open Sans';
  font-size: 1.3em;
}

.coffee {
  padding-top: 10px;
  align-items: center;
}

.navbar-default {
  background: #fff;
  border: 0;
  font-family: 'open sans';
  font-size: 14px;
}

.navbar-brand {
  font-size: 20px;
  color: #255881 !important;
  font-weight: 700;
  font-family: 'Poppins';
  text-transform: capitalize;
}

#showcase {
  background: #db8ebe;
}

#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase img {
  width: 85%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#showcase .showcase-right {
  margin-top: 100px;
  margin-bottom: 20px;
}

.righty {
  margin: 0 auto;
}

.card {
  border: none;
}

.card-img-top {
  width: 90%;
}

#three {
  background-color: #fff;
  padding-top: 7rem;
  padding-bottom: 7rem; 
}

.test {
  margin-top: 60px;
  margin-bottom: 60px;
}

.card-text1 {
  font-size: 1rem;
}

.text-info {
  font-weight: bold;
  padding-bottom: 20px;
}

.frame1 {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 80%;
  font-size: 17px;
  line-height: 1.7;
}

.col-sm-9 {
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 835px) {

  .righty {
    display: none;
  }

  .navbar-brand {
    font-size: 17px;
}

.card-img-top {
  padding-top: 3rem;
  padding-bottom: 0;
  width: 70%;
}

.frame1 {
  width: 100%;
}

}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1){
    .card-img-top {
      width: 90%;
    }
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1){
    .card-img-top {
      width: 90%;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .card-img-top {
      width: 70%;
    }
}
